@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #FFFFFF;  /* Light mode background */
    --text-color: #000000; /* Light mode text color */
  }
  
  .dark {
    --bg-color: #2E2E2E;  /* Dark mode background */
    --text-color: #FFFFFF; /* Dark mode text color */
  }
  
  body {
    background-color: var(--bg-color); /* Apply the background color */
    color: var(--text-color);           /* Apply the text color */
  }
  
.bg-dark-2{
  /* background-color: rgb(31 42 55); */
  background: inherit;
}
.border-dark-2{
  /* border-color: rgba(31, 42, 55, 0.5) */
  border-color: rgba(255, 255, 255, 0.4);
  /* border-color: #151515; */
}

.ql-editor {
  color: black;
  background-color: white;
}

/* Apply dark mode styles */
.dark .ql-editor {
  color: white;
  background-color: #374151; /* Adjust as needed for dark backgrounds */
}
